@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 26, 32, 44;
}

html,
body {
  height: 100%; /* Ensure the gradient covers the full viewport height */
  margin: 0; /* Remove default browser margins */
}

body {
  min-height: 100vh; /* Ensure the gradient spans the full height of the viewport */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .nav-link {
    @apply text-gray-300 hover:text-purple-400 transition duration-300;
  }
}
